<div class="modal-header">
  <h4 class="modal-title pull-left">Model详情</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #addModelDetailsForm="ngForm">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>名称</th>
        <th>类型</th>
        <th>默认值</th>
        <th>描述</th>
        <th></th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let details of modelDetails">
        <td>{{details.name}}</td>
        <td (click)="editSelect($event,details,'type',paramType,details.type)">{{details.type}}</td>
        <td (click)="editTextarea($event,details,'defaultValue')">{{details.defaultValue}}</td>
        <td (click)="editTextarea($event,details,'describe')">{{details.describe}}</td>
        <td><a href="javascript:void(0)" (click)="delete(details)">X</a></td>
      </tr>

      <tr *ngIf="addModelFieldStatus == true">
        <td>
          <input type="text" class="form-control" name="name" required #name="ngModel" ngModel>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              name is required.
            </div>
          </div>
        </td>
        <td>
          <select class="form-control" name="type" [ngModel]="defaultType">
            <option *ngFor="let type of paramTypeArray" value="{{type}}">
              {{type}}
            </option>
          </select>

        </td>
        <td><input type="text" class="form-control" name="defaultValue" ngModel></td>
        <td><input type="text" class="form-control" name="describe" ngModel></td>
        <td>
          <a href="javascript:void(0)" (click)="submit(addModelDetailsForm)">√</a>&nbsp;
          <a href="javascript:void(0)" (click)="close()">X</a>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
  <a href="javascript:void(0)" (click)="addModelField()">添加</a>
</div>
<div class="modal-footer">
  <button class="btn btn-default" (click)="save()">Save</button>
  <button class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
