
  <button type="button" class="btn btn-info" (click)="openAddProjectModal()">添加项目</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allProjects">
      <td><a href="#" [routerLink]="['/project-view/api-folder',item.id]">{{item.name}}</a></td>
      <td>{{item.describe}}</td>
      <td width="300px">
        <a href="javascript:void(0)" (click)="openUpProjectModal(item)">修改</a>
        <a href="javascript:void(0)" (click)="delProject(item.id)">删除</a>
      </td>
    </tr>
  </table>

